---
http_interactions:
- request:
    method: get
    uri: https://instant-api.litmus.com/v1/clients/configurations
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "OL2007": {
            "orientation_options": [
              "vertical"
            ],
            "images_options": [
              "allowed",
              "blocked"
            ],
            "name": "Outlook 2007",
            "group": "Desktop",
            "platform": "Windows 10",
            "status": "normal"
          },
          "OL2010": {
            "orientation_options": [
              "vertical"
            ],
            "images_options": [
              "allowed",
              "blocked"
            ],
            "name": "Outlook 2010",
            "group": "Desktop",
            "platform": "Windows 10",
            "status": "normal"
          },
          "OL2013": {
            "orientation_options": [
              "vertical"
            ],
            "images_options": [
              "allowed",
              "blocked"
            ],
            "name": "Outlook 2013",
            "group": "Desktop",
            "platform": "Windows 10",
            "status": "normal"
          },
          "CHROMEYAHOO": {
            "orientation_options": [
              "vertical"
            ],
            "images_options": [
              "allowed",
              "blocked"
            ],
            "name": "Yahoo! Mail",
            "group": "Web-based",
            "platform": "Chrome",
            "status": "normal"
          },
          "FFYAHOO": {
            "orientation_options": [
              "vertical"
            ],
            "images_options": [
              "allowed",
              "blocked"
            ],
            "name": "Yahoo! Mail",
            "group": "Web-based",
            "platform": "Firefox",
            "status": "normal"
          },
          "YAHOO": {
            "orientation_options": [
              "vertical"
            ],
            "images_options": [
              "allowed",
              "blocked"
            ],
            "name": "Yahoo! Mail",
            "group": "Web-based",
            "platform": "Edge",
            "status": "normal"
          },
          "GMAILNEW": {
            "orientation_options": [
              "vertical"
            ],
            "images_options": [
              "allowed",
              "blocked"
            ],
            "name": "Gmail",
            "group": "Web-based",
            "platform": "Edge",
            "status": "normal"
          },
          "FFGMAILNEW": {
            "orientation_options": [
              "vertical"
            ],
            "images_options": [
              "allowed",
              "blocked"
            ],
            "name": "Gmail",
            "group": "Web-based",
            "platform": "Firefox",
            "status": "normal"
          },
          "CHROMEGMAILNEW": {
            "orientation_options": [
              "vertical"
            ],
            "images_options": [
              "allowed",
              "blocked"
            ],
            "name": "Gmail",
            "group": "Web-based",
            "platform": "Chrome",
            "status": "normal"
          },
          "OL2015": {
            "orientation_options": [
              "vertical"
            ],
            "images_options": [
              "allowed",
              "blocked"
            ],
            "name": "Outlook 2016",
            "group": "Desktop",
            "platform": "macOS 10.12.6",
            "status": "normal"
          },
          "OUTLOOKCOM": {
            "orientation_options": [
              "vertical"
            ],
            "images_options": [
              "allowed",
              "blocked"
            ],
            "name": "Outlook.com",
            "group": "Web-based",
            "platform": "Edge",
            "status": "normal"
          },
          "FFOUTLOOKCOM": {
            "orientation_options": [
              "vertical"
            ],
            "images_options": [
              "allowed",
              "blocked"
            ],
            "name": "Outlook.com",
            "group": "Web-based",
            "platform": "Firefox",
            "status": "normal"
          },
          "CHROMEOUTLOOKCOM": {
            "orientation_options": [
              "vertical"
            ],
            "images_options": [
              "allowed",
              "blocked"
            ],
            "name": "Outlook.com",
            "group": "Web-based",
            "platform": "Chrome",
            "status": "normal"
          },
          "IPAD": {
            "orientation_options": [
              "vertical"
            ],
            "images_options": [
              "allowed"
            ],
            "name": "iPad (Retina)",
            "group": "Mobile/Tablet",
            "platform": "iOS 13.1",
            "status": "normal"
          },
          "THUNDERBIRDLATEST": {
            "orientation_options": [
              "vertical"
            ],
            "images_options": [
              "allowed",
              "blocked"
            ],
            "name": "Thunderbird 60",
            "group": "Desktop",
            "platform": "Windows 10",
            "status": "normal"
          },
          "PLAINTEXT": {
            "orientation_options": [
              "vertical"
            ],
            "images_options": [
              "allowed"
            ],
            "name": "Plain Text",
            "group": "Desktop",
            "platform": "Text-only view",
            "status": "normal"
          },
          "AOLONLINE": {
            "orientation_options": [
              "vertical"
            ],
            "images_options": [
              "allowed",
              "blocked"
            ],
            "name": "AOL Mail",
            "group": "Web-based",
            "platform": "Edge",
            "status": "normal"
          },
          "FFAOLONLINE": {
            "orientation_options": [
              "vertical"
            ],
            "images_options": [
              "allowed",
              "blocked"
            ],
            "name": "AOL Mail",
            "group": "Web-based",
            "platform": "Firefox",
            "status": "normal"
          },
          "CHROMEAOLONLINE": {
            "orientation_options": [
              "vertical"
            ],
            "images_options": [
              "allowed",
              "blocked"
            ],
            "name": "AOL Mail",
            "group": "Web-based",
            "platform": "Chrome",
            "status": "normal"
          },
          "GOOGLEAPPS": {
            "orientation_options": [
              "vertical"
            ],
            "images_options": [
              "allowed",
              "blocked"
            ],
            "name": "G Suite",
            "group": "Web-based",
            "platform": "Edge",
            "status": "normal"
          },
          "FFGOOGLEAPPS": {
            "orientation_options": [
              "vertical"
            ],
            "images_options": [
              "allowed",
              "blocked"
            ],
            "name": "G Suite",
            "group": "Web-based",
            "platform": "Firefox",
            "status": "normal"
          },
          "CHROMEGOOGLEAPPS": {
            "orientation_options": [
              "vertical"
            ],
            "images_options": [
              "allowed",
              "blocked"
            ],
            "name": "G Suite",
            "group": "Web-based",
            "platform": "Chrome",
            "status": "normal"
          },
          "COLORBLIND": {
            "orientation_options": [
              "vertical"
            ],
            "images_options": [
              "allowed"
            ],
            "name": "Color Blindness",
            "group": "Desktop",
            "platform": "Simulated",
            "status": "normal"
          },
          "NOTES85": {
            "orientation_options": [
              "vertical"
            ],
            "images_options": [
              "allowed"
            ],
            "name": "Lotus Notes 8.5",
            "group": "Desktop",
            "platform": "Windows 10",
            "status": "normal"
          },
          "NOTES9": {
            "orientation_options": [
              "vertical"
            ],
            "images_options": [
              "allowed"
            ],
            "name": "IBM Notes 9",
            "group": "Desktop",
            "platform": "Windows 10",
            "status": "normal"
          },
          "OFFICE365": {
            "orientation_options": [
              "vertical"
            ],
            "images_options": [
              "allowed",
              "blocked"
            ],
            "name": "Office 365",
            "group": "Web-based",
            "platform": "Edge",
            "status": "normal"
          },
          "FFOFFICE365": {
            "orientation_options": [
              "vertical"
            ],
            "images_options": [
              "allowed",
              "blocked"
            ],
            "name": "Office 365",
            "group": "Web-based",
            "platform": "Firefox",
            "status": "normal"
          },
          "CHROMEOFFICE365": {
            "orientation_options": [
              "vertical"
            ],
            "images_options": [
              "allowed",
              "blocked"
            ],
            "name": "Office 365",
            "group": "Web-based",
            "platform": "Chrome",
            "status": "normal"
          },
          "OL2013DPI120": {
            "orientation_options": [
              "vertical"
            ],
            "images_options": [
              "allowed"
            ],
            "name": "Outlook 2013 120 DPI",
            "group": "Desktop",
            "platform": "Windows 10",
            "status": "normal"
          },
          "OL2016": {
            "orientation_options": [
              "vertical"
            ],
            "images_options": [
              "allowed",
              "blocked"
            ],
            "name": "Outlook 2016",
            "group": "Desktop",
            "platform": "Windows 10",
            "status": "normal"
          },
          "ANDROIDGMAILAPP": {
            "orientation_options": [
              "vertical"
            ],
            "images_options": [
              "allowed"
            ],
            "name": "Gmail App",
            "group": "Mobile/Tablet",
            "platform": "Android 6.0",
            "status": "normal"
          },
          "GMXDE": {
            "orientation_options": [
              "vertical"
            ],
            "images_options": [
              "allowed",
              "blocked"
            ],
            "name": "GMX.de",
            "group": "Web-based",
            "platform": "Edge",
            "status": "normal"
          },
          "FFGMXDE": {
            "orientation_options": [
              "vertical"
            ],
            "images_options": [
              "allowed",
              "blocked"
            ],
            "name": "GMX.de",
            "group": "Web-based",
            "platform": "Firefox",
            "status": "normal"
          },
          "CHROMEGMXDE": {
            "orientation_options": [
              "vertical"
            ],
            "images_options": [
              "allowed",
              "blocked"
            ],
            "name": "GMX.de",
            "group": "Web-based",
            "platform": "Chrome",
            "status": "normal"
          },
          "WEBDE": {
            "orientation_options": [
              "vertical"
            ],
            "images_options": [
              "allowed",
              "blocked"
            ],
            "name": "Web.de",
            "group": "Web-based",
            "platform": "Edge",
            "status": "normal"
          },
          "FFWEBDE": {
            "orientation_options": [
              "vertical"
            ],
            "images_options": [
              "allowed",
              "blocked"
            ],
            "name": "Web.de",
            "group": "Web-based",
            "platform": "Firefox",
            "status": "normal"
          },
          "CHROMEWEBDE": {
            "orientation_options": [
              "vertical"
            ],
            "images_options": [
              "allowed",
              "blocked"
            ],
            "name": "Web.de",
            "group": "Web-based",
            "platform": "Chrome",
            "status": "normal"
          },
          "IPADPRO13IN": {
            "orientation_options": [
              "vertical"
            ],
            "images_options": [
              "allowed"
            ],
            "name": "iPad Pro (12.9 inch)",
            "group": "Mobile/Tablet",
            "platform": "iOS 13.1",
            "status": "normal"
          },
          "COMCAST": {
            "orientation_options": [
              "vertical"
            ],
            "images_options": [
              "allowed",
              "blocked"
            ],
            "name": "Comcast",
            "group": "Web-based",
            "platform": "Edge",
            "status": "normal"
          },
          "FFCOMCAST": {
            "orientation_options": [
              "vertical"
            ],
            "images_options": [
              "allowed",
              "blocked"
            ],
            "name": "Comcast",
            "group": "Web-based",
            "platform": "Firefox",
            "status": "normal"
          },
          "CHROMECOMCAST": {
            "orientation_options": [
              "vertical"
            ],
            "images_options": [
              "allowed",
              "blocked"
            ],
            "name": "Comcast",
            "group": "Web-based",
            "platform": "Chrome",
            "status": "normal"
          },
          "IPHONESE": {
            "orientation_options": [
              "vertical"
            ],
            "images_options": [
              "allowed"
            ],
            "name": "iPhone SE",
            "group": "Mobile/Tablet",
            "platform": "iOS 14.2",
            "status": "normal"
          },
          "WINDOWS10MAIL": {
            "orientation_options": [
              "vertical"
            ],
            "images_options": [
              "allowed",
              "blocked"
            ],
            "name": "Windows 10 Mail",
            "group": "Desktop",
            "platform": "Windows 10",
            "status": "normal"
          },
          "MAILRU": {
            "orientation_options": [
              "vertical"
            ],
            "images_options": [
              "allowed"
            ],
            "name": "Mail.ru",
            "group": "Web-based",
            "platform": "Edge",
            "status": "normal"
          },
          "CHROMEMAILRU": {
            "orientation_options": [
              "vertical"
            ],
            "images_options": [
              "allowed"
            ],
            "name": "Mail.ru",
            "group": "Web-based",
            "platform": "Chrome",
            "status": "normal"
          },
          "FFMAILRU": {
            "orientation_options": [
              "vertical"
            ],
            "images_options": [
              "allowed"
            ],
            "name": "Mail.ru",
            "group": "Web-based",
            "platform": "Firefox",
            "status": "normal"
          },
          "OUTLOOKIOS": {
            "orientation_options": [
              "vertical"
            ],
            "images_options": [
              "allowed"
            ],
            "name": "Outlook iOS",
            "group": "Mobile/Tablet",
            "platform": "iOS 14.2",
            "status": "normal"
          },
          "ANDROID6": {
            "orientation_options": [
              "vertical"
            ],
            "images_options": [
              "allowed"
            ],
            "name": "Android 6.0",
            "group": "Mobile/Tablet",
            "platform": "Android 6.0",
            "status": "normal"
          },
          "ANDROIDGMAILIMAP": {
            "orientation_options": [
              "vertical"
            ],
            "images_options": [
              "allowed"
            ],
            "name": "Gmail App IMAP",
            "group": "Mobile/Tablet",
            "platform": "Android 6.0",
            "status": "normal"
          },
          "FREENETDE": {
            "orientation_options": [
              "vertical"
            ],
            "images_options": [
              "allowed"
            ],
            "name": "freenet.de",
            "group": "Web-based",
            "platform": "Edge",
            "status": "normal"
          },
          "FFFREENETDE": {
            "orientation_options": [
              "vertical"
            ],
            "images_options": [
              "allowed"
            ],
            "name": "freenet.de",
            "group": "Web-based",
            "platform": "Firefox",
            "status": "normal"
          },
          "CHROMEFREENETDE": {
            "orientation_options": [
              "vertical"
            ],
            "images_options": [
              "allowed"
            ],
            "name": "freenet.de",
            "group": "Web-based",
            "platform": "Chrome",
            "status": "normal"
          },
          "TONLINEDE": {
            "orientation_options": [
              "vertical"
            ],
            "images_options": [
              "allowed"
            ],
            "name": "T-Online.de",
            "group": "Web-based",
            "platform": "Edge",
            "status": "normal"
          },
          "FFTONLINEDE": {
            "orientation_options": [
              "vertical"
            ],
            "images_options": [
              "allowed"
            ],
            "name": "T-Online.de",
            "group": "Web-based",
            "platform": "Firefox",
            "status": "normal"
          },
          "CHROMETONLINEDE": {
            "orientation_options": [
              "vertical"
            ],
            "images_options": [
              "allowed"
            ],
            "name": "T-Online.de",
            "group": "Web-based",
            "platform": "Chrome",
            "status": "normal"
          },
          "GMAILIOS": {
            "orientation_options": [
              "vertical"
            ],
            "images_options": [
              "allowed"
            ],
            "name": "Gmail App",
            "group": "Mobile/Tablet",
            "platform": "iOS 14.2",
            "status": "normal"
          },
          "ANDROIDSAMSUNG6": {
            "orientation_options": [
              "vertical"
            ],
            "images_options": [
              "allowed"
            ],
            "name": "Samsung Mail",
            "group": "Mobile/Tablet",
            "platform": "Android 6.0",
            "status": "normal"
          },
          "IPHONE8": {
            "orientation_options": [
              "vertical"
            ],
            "images_options": [
              "allowed"
            ],
            "name": "iPhone 8",
            "group": "Mobile/Tablet",
            "platform": "iOS 12.0",
            "status": "normal"
          },
          "IPHONE8PLUS": {
            "orientation_options": [
              "vertical"
            ],
            "images_options": [
              "allowed"
            ],
            "name": "iPhone 8 Plus",
            "group": "Mobile/Tablet",
            "platform": "iOS 12.0",
            "status": "normal"
          },
          "ANDROIDOUTLOOK": {
            "orientation_options": [
              "vertical"
            ],
            "images_options": [
              "allowed"
            ],
            "name": "Outlook",
            "group": "Mobile/Tablet",
            "platform": "Android 7.0",
            "status": "normal"
          },
          "IPADPRO10P5IN": {
            "orientation_options": [
              "vertical"
            ],
            "images_options": [
              "allowed"
            ],
            "name": "iPad Pro (10.5 inch)",
            "group": "Mobile/Tablet",
            "platform": "iOS 13.1",
            "status": "normal"
          },
          "ANDROID71GMAILAPP": {
            "orientation_options": [
              "vertical"
            ],
            "images_options": [
              "allowed"
            ],
            "name": "Gmail App",
            "group": "Mobile/Tablet",
            "platform": "Android 7.1",
            "status": "normal"
          },
          "ANDROID8GMAILAPP": {
            "orientation_options": [
              "vertical"
            ],
            "images_options": [
              "allowed"
            ],
            "name": "Gmail App",
            "group": "Mobile/Tablet",
            "platform": "Android 8.0",
            "status": "normal"
          },
          "OL2019": {
            "orientation_options": [
              "vertical"
            ],
            "images_options": [
              "allowed",
              "blocked"
            ],
            "name": "Outlook 2019",
            "group": "Desktop",
            "platform": "Windows 10",
            "status": "normal"
          },
          "ANDROIDSAMSUNG7": {
            "orientation_options": [
              "vertical"
            ],
            "images_options": [
              "allowed"
            ],
            "name": "Samsung Mail",
            "group": "Mobile/Tablet",
            "platform": "Android 7.0",
            "status": "normal"
          },
          "IPHONEXS": {
            "orientation_options": [
              "vertical"
            ],
            "images_options": [
              "allowed"
            ],
            "name": "iPhone XS",
            "group": "Mobile/Tablet",
            "platform": "iOS 12.0",
            "status": "normal"
          },
          "IPHONEXSMAX": {
            "orientation_options": [
              "vertical"
            ],
            "images_options": [
              "allowed"
            ],
            "name": "iPhone XS Max",
            "group": "Mobile/Tablet",
            "platform": "iOS 12.0",
            "status": "normal"
          },
          "IPHONEXR": {
            "orientation_options": [
              "vertical"
            ],
            "images_options": [
              "allowed"
            ],
            "name": "iPhone XR",
            "group": "Mobile/Tablet",
            "platform": "iOS 12.0",
            "status": "normal"
          },
          "OL2019MAC": {
            "orientation_options": [
              "vertical"
            ],
            "images_options": [
              "allowed",
              "blocked"
            ],
            "name": "OL Office 365",
            "group": "Desktop",
            "platform": "macOS 10.15",
            "status": "normal"
          },
          "NOTES10": {
            "orientation_options": [
              "vertical"
            ],
            "images_options": [
              "allowed"
            ],
            "name": "IBM Notes 10",
            "group": "Desktop",
            "platform": "Windows 10",
            "status": "normal"
          },
          "OL2019DPI120": {
            "orientation_options": [
              "vertical"
            ],
            "images_options": [
              "allowed"
            ],
            "name": "Outlook 2019 120 DPI",
            "group": "Desktop",
            "platform": "Windows 10",
            "status": "normal"
          },
          "IPHONE11": {
            "orientation_options": [
              "vertical"
            ],
            "images_options": [
              "allowed"
            ],
            "name": "iPhone 11",
            "group": "Mobile/Tablet",
            "platform": "iOS 13.1",
            "status": "normal"
          },
          "IPHONE11PRO": {
            "orientation_options": [
              "vertical"
            ],
            "images_options": [
              "allowed"
            ],
            "name": "iPhone 11 Pro",
            "group": "Mobile/Tablet",
            "platform": "iOS 13.1",
            "status": "normal"
          },
          "IPHONE11PROMAX": {
            "orientation_options": [
              "vertical"
            ],
            "images_options": [
              "allowed"
            ],
            "name": "iPhone 11 Pro Max",
            "group": "Mobile/Tablet",
            "platform": "iOS 13.1",
            "status": "normal"
          },
          "IPHONE11PRODARK": {
            "orientation_options": [
              "vertical"
            ],
            "images_options": [
              "allowed"
            ],
            "name": "iPhone 11 Pro Dark",
            "group": "Mobile/Tablet",
            "platform": "iOS 13.1",
            "status": "normal"
          },
          "OL2016DPI120": {
            "orientation_options": [
              "vertical"
            ],
            "images_options": [
              "allowed"
            ],
            "name": "Outlook 2016 120 DPI",
            "group": "Desktop",
            "platform": "Windows 10",
            "status": "normal"
          },
          "IPADGEN7": {
            "orientation_options": [
              "vertical"
            ],
            "images_options": [
              "allowed"
            ],
            "name": "iPad (Gen 7)",
            "group": "Mobile/Tablet",
            "platform": "iOS 13.1",
            "status": "normal"
          },
          "IPADGEN7DARK": {
            "orientation_options": [
              "vertical"
            ],
            "images_options": [
              "allowed"
            ],
            "name": "iPad (Gen 7) Dark",
            "group": "Mobile/Tablet",
            "platform": "iOS 13.1",
            "status": "normal"
          },
          "APPMAIL13": {
            "orientation_options": [
              "vertical"
            ],
            "images_options": [
              "allowed",
              "blocked"
            ],
            "name": "Apple Mail 13",
            "group": "Desktop",
            "platform": "macOS 10.15",
            "status": "normal"
          },
          "APPMAIL13DARK": {
            "orientation_options": [
              "vertical"
            ],
            "images_options": [
              "allowed",
              "blocked"
            ],
            "name": "Apple Mail 13 Dark",
            "group": "Desktop",
            "platform": "macOS 10.15",
            "status": "normal"
          },
          "IPADPRO11IN": {
            "orientation_options": [
              "vertical"
            ],
            "images_options": [
              "allowed"
            ],
            "name": "iPad Pro (11 inch)",
            "group": "Mobile/Tablet",
            "platform": "iOS 13.1",
            "status": "normal"
          },
          "OL365": {
            "orientation_options": [
              "vertical"
            ],
            "images_options": [
              "allowed",
              "blocked"
            ],
            "name": "OL Office 365",
            "group": "Desktop",
            "platform": "Windows 10",
            "status": "normal"
          },
          "OL365DARK": {
            "orientation_options": [
              "vertical"
            ],
            "images_options": [
              "allowed",
              "blocked"
            ],
            "name": "OL Office 365 Dark",
            "group": "Desktop",
            "platform": "Windows 10",
            "status": "normal"
          },
          "FFOUTLOOKCOMDARK": {
            "orientation_options": [
              "vertical"
            ],
            "images_options": [
              "allowed",
              "blocked"
            ],
            "name": "Outlook.com Dark",
            "group": "Web-based",
            "platform": "Firefox",
            "status": "normal"
          },
          "CHROMEOUTLOOKCOMDARK": {
            "orientation_options": [
              "vertical"
            ],
            "images_options": [
              "allowed",
              "blocked"
            ],
            "name": "Outlook.com Dark",
            "group": "Web-based",
            "platform": "Chrome",
            "status": "normal"
          },
          "ANDROID9GMAILAPP": {
            "orientation_options": [
              "vertical"
            ],
            "images_options": [
              "allowed"
            ],
            "name": "Gmail App",
            "group": "Mobile/Tablet",
            "platform": "Android 9.0",
            "status": "normal"
          },
          "IPHONESE2020": {
            "orientation_options": [
              "vertical"
            ],
            "images_options": [
              "allowed"
            ],
            "name": "iPhone SE (Gen 2)",
            "group": "Mobile/Tablet",
            "platform": "iOS 13.4",
            "status": "normal"
          },
          "ANDROID10GMAILAPP": {
            "orientation_options": [
              "vertical"
            ],
            "images_options": [
              "allowed"
            ],
            "name": "Gmail App",
            "group": "Mobile/Tablet",
            "platform": "Android 10.0",
[...]
