---
http_interactions:
- request:
    method: post
    uri: https://instant-api.litmus.com/v1/emails
    body:
      encoding: UTF-8
      string: '{"plain_text":"Hej världen! Kärlek, den svenska kocken."}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic Y3hkNHR1c3F3b2tnZ2dseGl6ZDl2cDd6bXV4dmo2eG95a2UxOg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "email_guid": "0cb4051b-bbd5-4878-bfc9-0f0ce6e783f9"
        }
  recorded_at: Wed, 10 Nov 2021 11:31:25 GMT
- request:
    method: post
    uri: https://instant-api.litmus.com/v1/emails/0cb4051b-bbd5-4878-bfc9-0f0ce6e783f9/previews/prefetch
    body:
      encoding: UTF-8
      string: '{"configurations":[{"client":"OL2010"},{"client":"OL2001MYSPACEODYSSEY"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "status": 400,
          "title": "Bad Request",
          "description": "Each client must be valid, 'OL2001MYSPACEODYSSEY' is unknown"
        }
  recorded_at: Wed, 10 Nov 2021 11:31:26 GMT
recorded_with: VCR 6.0.0
