---
http_interactions:
- request:
    method: post
    uri: https://instant-api.litmus.com/v1/emails
    body:
      encoding: UTF-8
      string: '{"plain_text":"Hej världen! Kärlek, den svenska kocken."}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <ENCODED_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "email_guid": "cd96ae61-a466-4016-ba70-b60e2965b045"
        }
  recorded_at: Wed, 10 Nov 2021 14:36:58 GMT
- request:
    method: post
    uri: https://instant-api.litmus.com/v1/emails/cd96ae61-a466-4016-ba70-b60e2965b045/previews/prefetch
    body:
      encoding: UTF-8
      string: '{"configurations":[{"client":"OL2010"},{"client":"OL2001MYSPACEODYSSEY"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "status": 400,
          "title": "Bad Request",
          "description": "Each client must be valid, 'OL2001MYSPACEODYSSEY' is unknown"
        }
  recorded_at: Wed, 10 Nov 2021 14:36:59 GMT
recorded_with: VCR 6.0.0
