---
http_interactions:
- request:
    method: post
    uri: https://instant-api.litmus.com/v1/emails/NOT-A-GUID/previews/prefetch
    body:
      encoding: UTF-8
      string: '{"configurations":[{"client":"OL2010"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "status": 400,
          "title": "Bad Request",
          "description": "'email_guid' must match format of a standard GUID"
        }
  recorded_at: Mon, 20 Jun 2016 11:44:07 GMT
recorded_with: VCR 2.9.3
