---
http_interactions:
- request:
    method: post
    uri: https://<API_KEY>:@instant-api.litmus.com/v1/emails
    body:
      encoding: UTF-8
      string: '{"plain_text":"Hej världen! Kärlek, den svenska kocken."}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "email_guid": "6c8862e2-b10d-4753-85d8-340c91c0b071"
        }
  recorded_at: Tue, 06 Oct 2015 10:40:44 GMT
- request:
    method: post
    uri: https://instant-api.litmus.com/v1/emails/6c8862e2-b10d-4753-85d8-340c91c0b071/previews/prefetch
    body:
      encoding: UTF-8
      string: '{"configurations":[{"client":"OL2010"},{"client":"OL2001MYSPACEODYSSEY"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "status": 400,
          "title": "Bad Request",
          "description": "Each client must be valid, OL2001MYSPACEODYSSEY is unknown"
        }
  recorded_at: Tue, 06 Oct 2015 10:40:45 GMT
- request:
    method: post
    uri: https://instant-api.litmus.com/v1/emails//previews/prefetch
    body:
      encoding: UTF-8
      string: '{"configurations":[{"client":"OL2010"},{"client":"OL2001MYSPACEODYSSEY"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cascade:
      - pass
    body:
      encoding: UTF-8
      string: |-
        {
          "status": 404,
          "title": "Not found"
        }
  recorded_at: Tue, 06 Oct 2015 15:35:07 GMT
recorded_with: VCR 2.9.3
