---
http_interactions:
- request:
    method: post
    uri: https://instant-api.litmus.com/v1/emails/NOT-A-GUID/previews/prefetch
    body:
      encoding: UTF-8
      string: '{"configurations":[{"client":"OL2010"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "status": 400,
          "title": "Bad Request",
          "description": "'email_guid' must match format of a standard GUID"
        }
  recorded_at: Tue, 06 Oct 2015 10:40:45 GMT
- request:
    method: post
    uri: https://<API_KEY>:@instant-api.litmus.com/v1/emails/NOT-A-GUID/previews/prefetch
    body:
      encoding: UTF-8
      string: '{"configurations":[{"client":"OL2010"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "status": 400,
          "title": "Bad Request",
          "description": "'email_guid' must match format of a standard GUID"
        }
  recorded_at: Tue, 06 Oct 2015 15:34:28 GMT
recorded_with: VCR 2.9.3
