---
http_interactions:
- request:
    method: post
    uri: https://instant-api.litmus.com/v1/emails
    body:
      encoding: UTF-8
      string: '{"plain_text":"Hej världen! Kärlek, den svenska kocken."}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic Y3hkNHR1c3F3b2tnZ2dseGl6ZDl2cDd6bXV4dmo2eG95a2UxOg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "email_guid": "92d9cb6d-6ea0-4b46-813c-3025214f80fd"
        }
  recorded_at: Mon, 20 Jun 2016 11:44:08 GMT
- request:
    method: post
    uri: https://instant-api.litmus.com/v1/emails/92d9cb6d-6ea0-4b46-813c-3025214f80fd/previews/prefetch
    body:
      encoding: UTF-8
      string: '{"configurations":[{"client":"OL2010","images":"allowed"},{"client":"IPAD","orientation":"vertical"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "configurations": [
            {
              "orientation": "vertical",
              "images": "allowed",
              "client": "OL2010"
            },
            {
              "orientation": "vertical",
              "images": "allowed",
              "client": "IPAD"
            }
          ]
        }
  recorded_at: Mon, 20 Jun 2016 11:44:08 GMT
- request:
    method: post
    uri: https://<API_KEY>:@instant-api.litmus.com/v1/emails
    body:
      encoding: UTF-8
      string: '{"plain_text":"Hej världen! Kärlek, den svenska kocken."}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "email_guid": "63c98daa-7572-48ea-b97d-9a817be8dfac"
        }
  recorded_at: Fri, 21 Jul 2017 13:02:07 GMT
- request:
    method: post
    uri: https://instant-api.litmus.com/v1/emails/63c98daa-7572-48ea-b97d-9a817be8dfac/previews/prefetch
    body:
      encoding: UTF-8
      string: '{"configurations":[{"client":"OL2010","images":"allowed"},{"client":"IPAD","orientation":"vertical"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "configurations": [
            {
              "orientation": "vertical",
              "images": "allowed",
              "client": "OL2010"
            },
            {
              "orientation": "vertical",
              "images": "allowed",
              "client": "IPAD"
            }
          ]
        }
  recorded_at: Fri, 21 Jul 2017 13:02:08 GMT
recorded_with: VCR 2.9.3
