---
http_interactions:
- request:
    method: post
    uri: https://instant-api.litmus.com/v1/emails
    body:
      encoding: UTF-8
      string: '{"plain_text":"Hej världen! Kärlek, den svenska kocken."}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <ENCODED_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "email_guid": "5b893fa9-a8d3-41be-842c-cfd1967d3e40"
        }
  recorded_at: Wed, 10 Nov 2021 14:37:01 GMT
- request:
    method: post
    uri: https://instant-api.litmus.com/v1/emails/5b893fa9-a8d3-41be-842c-cfd1967d3e40/previews/prefetch
    body:
      encoding: UTF-8
      string: '{"configurations":[{"client":"OL2010","images":"allowed"},{"client":"IPAD","orientation":"vertical"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "configurations": [
            {
              "orientation": "vertical",
              "images": "allowed",
              "client": "OL2010"
            },
            {
              "orientation": "vertical",
              "images": "allowed",
              "client": "IPAD"
            }
          ]
        }
  recorded_at: Wed, 10 Nov 2021 14:37:02 GMT
recorded_with: VCR 6.0.0
