---
http_interactions:
- request:
    method: post
    uri: https://instant-api.litmus.com/v1/emails
    body:
      encoding: UTF-8
      string: '{"plain_text":"Hej världen!","end_user_id":"bob"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <ENCODED_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "email_guid": "73462dba-2038-4b8a-b27c-09356c83066a",
          "end_user_id": "bob"
        }
  recorded_at: Wed, 10 Nov 2021 14:36:29 GMT
recorded_with: VCR 6.0.0
