---
http_interactions:
- request:
    method: post
    uri: https://instant-api.litmus.com/v1/emails
    body:
      encoding: UTF-8
      string: '{"nyan_text":"Miow världen!"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <ENCODED_API_KEY>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "status": 400,
          "title": "Bad Request",
          "description": "One of 'html_text','plain_text','raw_source' is required"
        }
  recorded_at: Wed, 10 Nov 2021 14:36:32 GMT
recorded_with: VCR 6.0.0
