---
http_interactions:
- request:
    method: post
    uri: https://instant-api.litmus.com/v1/emails
    body:
      encoding: UTF-8
      string: '{"plain_text":"Hej världen!","configurations":[{"client":"OL2010"},{"client":"OL2013","images":"blocked"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic Y3hkNHR1c3F3b2tnZ2dseGl6ZDl2cDd6bXV4dmo2eG95a2UxOg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "email_guid": "7931e543-6ad7-4e51-a0ba-1fa8113db1a3",
          "configurations": [
            {
              "orientation": "vertical",
              "images": "allowed",
              "client": "OL2010"
            },
            {
              "orientation": "vertical",
              "images": "blocked",
              "client": "OL2013"
            }
          ]
        }
  recorded_at: Mon, 20 Jun 2016 11:43:49 GMT
- request:
    method: post
    uri: https://<API_KEY>:@instant-api.litmus.com/v1/emails
    body:
      encoding: UTF-8
      string: '{"plain_text":"Hej världen!","configurations":[{"client":"OL2010"},{"client":"OL2013","images":"blocked"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "email_guid": "b60dac41-85ae-4abb-b27a-06f905fad6a2",
          "configurations": [
            {
              "orientation": "vertical",
              "images": "allowed",
              "client": "OL2010"
            },
            {
              "orientation": "vertical",
              "images": "blocked",
              "client": "OL2013"
            }
          ]
        }
  recorded_at: Fri, 21 Jul 2017 13:01:49 GMT
recorded_with: VCR 2.9.3
