---
http_interactions:
- request:
    method: post
    uri: https://instant-api.litmus.com/v1/emails
    body:
      encoding: UTF-8
      string: '{"nyan_text":"Miow världen!"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic Y3hkNHR1c3F3b2tnZ2dseGl6ZDl2cDd6bXV4dmo2eG95a2UxOg==
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "status": 400,
          "title": "Bad Request",
          "description": "One of 'html_text','plain_text','raw_source' is required"
        }
  recorded_at: Mon, 20 Jun 2016 11:43:50 GMT
- request:
    method: post
    uri: https://<API_KEY>:@instant-api.litmus.com/v1/emails
    body:
      encoding: UTF-8
      string: '{"nyan_text":"Miow världen!"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "status": 400,
          "title": "Bad Request",
          "description": "One of 'html_text','plain_text','raw_source' is required"
        }
  recorded_at: Fri, 21 Jul 2017 13:01:49 GMT
recorded_with: VCR 2.9.3
