---
http_interactions:
- request:
    method: post
    uri: https://<API_KEY>:@instant-api.litmus.com/v1/emails
    body:
      encoding: UTF-8
      string: '{"nyan_text":"Miow världen!"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "status": 400,
          "title": "Bad Request",
          "description": "One of 'html_text','plain_text','raw_source' is required"
        }
  recorded_at: Tue, 06 Oct 2015 10:40:37 GMT
- request:
    method: post
    uri: https://instant-api.litmus.com/v1/emails
    body:
      encoding: UTF-8
      string: '{"nyan_text":"Miow världen!"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Www-Authenticate:
      - Basic realm="Restricted Area"
    body:
      encoding: UTF-8
      string: |-
        {
          "status": 401,
          "title": "Unauthorized",
          "description": "API Authentication credentials were missing or incorrect. Make sure the API key you're making the request with matches the key found in your Litmus account. You can find your key, or generate a new one, here: https://litmus.com/api-key. If your API requests were previously working, check to make sure someone hasn't generated a new API key, thereby invalidating the older one. If you're stuck, please reach out at hello@litmus.com and we'll have a Support Engineer reach out as soon as possible."
        }
  recorded_at: Tue, 06 Oct 2015 10:55:52 GMT
recorded_with: VCR 2.9.3
