---
http_interactions:
- request:
    method: post
    uri: https://instant-api.litmus.com/v1/emails
    body:
      encoding: UTF-8
      string: '{"plain_text":"Hej världen!"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Www-Authenticate:
      - Basic realm="Litmus Instant API"
    body:
      encoding: UTF-8
      string: |-
        {
          "status": 401,
          "title": "Unauthorized",
          "description": "API Authentication credentials were missing or incorrect. Make sure the credentials you're making the request with match those you were provided. If you're stuck, please email resellers@litmus.com and we'll have a Support Engineer reach out as soon as possible."
        }
  recorded_at: Mon, 20 Jun 2016 11:43:47 GMT
recorded_with: VCR 2.9.3
