---
http_interactions:
- request:
    method: post
    uri: https://instant-api.litmus.com/v1/emails
    body:
      encoding: UTF-8
      string: '{"plain_text":"Hej världen! Kärlek, den svenska kocken."}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <ENCODED_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "email_guid": "5b893fa9-a8d3-41be-842c-cfd1967d3e40"
        }
  recorded_at: Wed, 10 Nov 2021 14:36:36 GMT
- request:
    method: get
    uri: https://instant-api.litmus.com/v1/emails/5b893fa9-a8d3-41be-842c-cfd1967d3e40/previews/OL2001MYSPACEODYSSEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "status": 400,
          "title": "Bad Request",
          "description": "'client' must be valid, see /clients"
        }
  recorded_at: Wed, 10 Nov 2021 14:36:36 GMT
recorded_with: VCR 6.0.0
