---
http_interactions:
- request:
    method: post
    uri: https://instant-api.litmus.com/v1/emails
    body:
      encoding: UTF-8
      string: '{"plain_text":"Hej världen! Kärlek, den svenska kocken."}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic Y3hkNHR1c3F3b2tnZ2dseGl6ZDl2cDd6bXV4dmo2eG95a2UxOg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "email_guid": "3bb69cde-7b40-4526-bb1f-c02218d72f9d"
        }
  recorded_at: Wed, 10 Nov 2021 11:31:04 GMT
- request:
    method: get
    uri: https://instant-api.litmus.com/v1/emails/3bb69cde-7b40-4526-bb1f-c02218d72f9d/previews/OL2001MYSPACEODYSSEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "status": 400,
          "title": "Bad Request",
          "description": "'client' must be valid, see /clients"
        }
  recorded_at: Wed, 10 Nov 2021 11:31:05 GMT
recorded_with: VCR 6.0.0
