---
http_interactions:
- request:
    method: post
    uri: https://instant-api.litmus.com/v1/emails
    body:
      encoding: UTF-8
      string: '{"plain_text":"Hej världen! Kärlek, den svenska kocken."}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic Y3hkNHR1c3F3b2tnZ2dseGl6ZDl2cDd6bXV4dmo2eG95a2UxOg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "email_guid": "3bb69cde-7b40-4526-bb1f-c02218d72f9d"
        }
  recorded_at: Wed, 10 Nov 2021 11:31:09 GMT
- request:
    method: get
    uri: https://instant-api.litmus.com/v1/emails/3bb69cde-7b40-4526-bb1f-c02218d72f9d/previews/PLAINTEXT
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "full_url": "https://plaintext.capture.litmuscdn.com/3bb69cde-7b40-4526-bb1f-c02218d72f9d/results/plaintext-vertical-allowed-1366.png",
          "thumb_url": "https://plaintext.capture.litmuscdn.com/3bb69cde-7b40-4526-bb1f-c02218d72f9d/results/plaintext-vertical-allowed-1366-thumb.png",
          "thumb450_url": "https://plaintext.capture.litmuscdn.com/3bb69cde-7b40-4526-bb1f-c02218d72f9d/results/plaintext-vertical-allowed-1366-thumb450.png"
        }
  recorded_at: Wed, 10 Nov 2021 11:31:13 GMT
recorded_with: VCR 6.0.0
