---
http_interactions:
- request:
    method: post
    uri: https://instant-api.litmus.com/v1/emails
    body:
      encoding: UTF-8
      string: '{"plain_text":"Hej världen! Kärlek, den svenska kocken."}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <ENCODED_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "email_guid": "cd96ae61-a466-4016-ba70-b60e2965b045"
        }
  recorded_at: Wed, 10 Nov 2021 14:36:41 GMT
- request:
    method: get
    uri: https://instant-api.litmus.com/v1/emails/cd96ae61-a466-4016-ba70-b60e2965b045/previews/PLAINTEXT
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "full_url": "https://plaintext.capture.litmuscdn.com/cd96ae61-a466-4016-ba70-b60e2965b045/results/plaintext-vertical-allowed-1366.png",
          "thumb_url": "https://plaintext.capture.litmuscdn.com/cd96ae61-a466-4016-ba70-b60e2965b045/results/plaintext-vertical-allowed-1366-thumb.png",
          "thumb450_url": "https://plaintext.capture.litmuscdn.com/cd96ae61-a466-4016-ba70-b60e2965b045/results/plaintext-vertical-allowed-1366-thumb450.png"
        }
  recorded_at: Wed, 10 Nov 2021 14:36:47 GMT
recorded_with: VCR 6.0.0
