---
http_interactions:
- request:
    method: post
    uri: https://instant-api.litmus.com/v1/emails
    body:
      encoding: UTF-8
      string: '{"plain_text":"Hej världen! Kärlek, den svenska kocken."}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic Y3hkNHR1c3F3b2tnZ2dseGl6ZDl2cDd6bXV4dmo2eG95a2UxOg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "email_guid": "92d9cb6d-6ea0-4b46-813c-3025214f80fd"
        }
  recorded_at: Mon, 20 Jun 2016 11:43:54 GMT
- request:
    method: get
    uri: https://instant-api.litmus.com/v1/emails/92d9cb6d-6ea0-4b46-813c-3025214f80fd/previews/PLAINTEXT
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "full_url": "https://plaintext.capture.litmuscdn.com/92d9cb6d-6ea0-4b46-813c-3025214f80fd/results/plaintext-vertical-allowed-1366.png",
          "thumb_url": "https://plaintext.capture.litmuscdn.com/92d9cb6d-6ea0-4b46-813c-3025214f80fd/results/plaintext-vertical-allowed-1366-thumb.png",
          "thumb450_url": "https://plaintext.capture.litmuscdn.com/92d9cb6d-6ea0-4b46-813c-3025214f80fd/results/plaintext-vertical-allowed-1366-thumb450.png"
        }
  recorded_at: Mon, 20 Jun 2016 11:43:58 GMT
- request:
    method: post
    uri: https://<API_KEY>:@instant-api.litmus.com/v1/emails
    body:
      encoding: UTF-8
      string: '{"plain_text":"Hej världen! Kärlek, den svenska kocken."}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "email_guid": "63c98daa-7572-48ea-b97d-9a817be8dfac"
        }
  recorded_at: Fri, 21 Jul 2017 13:01:51 GMT
- request:
    method: get
    uri: https://instant-api.litmus.com/v1/emails/63c98daa-7572-48ea-b97d-9a817be8dfac/previews/PLAINTEXT
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "full_url": "https://plaintext.capture.litmuscdn.com/63c98daa-7572-48ea-b97d-9a817be8dfac/results/plaintext-vertical-allowed-1366.png",
          "thumb_url": "https://plaintext.capture.litmuscdn.com/63c98daa-7572-48ea-b97d-9a817be8dfac/results/plaintext-vertical-allowed-1366-thumb.png",
          "thumb450_url": "https://plaintext.capture.litmuscdn.com/63c98daa-7572-48ea-b97d-9a817be8dfac/results/plaintext-vertical-allowed-1366-thumb450.png"
        }
  recorded_at: Fri, 21 Jul 2017 13:01:57 GMT
recorded_with: VCR 2.9.3
