---
http_interactions:
- request:
    method: post
    uri: https://instant-api.litmus.com/v1/emails
    body:
      encoding: UTF-8
      string: '{"plain_text":"boo"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <ENCODED_API_KEY>
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Www-Authenticate:
      - Basic realm="Litmus Instant API"
    body:
      encoding: UTF-8
      string: |-
        {
          "status": 401,
          "title": "Unauthorized",
          "description": "API Authentication credentials were missing or incorrect. Make sure the credentials you're making the request with match those you were provided. If you're stuck, please email resellers@litmus.com and we'll have a Support Engineer reach out as soon as possible."
        }
  recorded_at: Wed, 10 Nov 2021 14:37:04 GMT
- request:
    method: post
    uri: https://instant-api.litmus.com/v1/emails
    body:
      encoding: UTF-8
      string: '{"plain_text":"boo"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <ENCODED_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "email_guid": "b1c67565-2fa4-445c-94b7-45fe91e2ef58"
        }
  recorded_at: Wed, 10 Nov 2021 14:37:06 GMT
recorded_with: VCR 6.0.0
