---
http_interactions:
- request:
    method: post
    uri: https://instant-api.litmus.com/v1/emails
    body:
      encoding: UTF-8
      string: '{"plain_text":"boo"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic aW52YWxpZF9rZXk6
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Www-Authenticate:
      - Basic realm="Litmus Instant API"
    body:
      encoding: UTF-8
      string: |-
        {
          "status": 401,
          "title": "Unauthorized",
          "description": "API Authentication credentials were missing or incorrect. Make sure the credentials you're making the request with match those you were provided. If you're stuck, please email resellers@litmus.com and we'll have a Support Engineer reach out as soon as possible."
        }
  recorded_at: Wed, 10 Nov 2021 11:31:33 GMT
- request:
    method: post
    uri: https://instant-api.litmus.com/v1/emails
    body:
      encoding: UTF-8
      string: '{"plain_text":"boo"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic Y3hkNHR1c3F3b2tnZ2dseGl6ZDl2cDd6bXV4dmo2eG95a2UxOg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "email_guid": "1e239602-632d-4a5f-9a36-1f44430b86b6"
        }
  recorded_at: Wed, 10 Nov 2021 11:31:36 GMT
recorded_with: VCR 6.0.0
